header {
    background: #BBBBBB;
    padding: 20px 0;
}

.cabecalho {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
    width: 450px;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 15px;
    color: #000000;
    font-weight: bold;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
    font-size: 23px;
}

.banner-cadeira {
    width: 100%;
    border-top: 2px #000000 solid;
}

.principal-home {
    background: #CCCCCC;
    padding: 15px;
}

.secundario-home {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

.itens {
    font-style: italic;
    font-size: 20px;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    padding-left: 100px;
}

.imagemBeneficios {
    width: 30%;
    margin-left: 360px;
}